extends layout

block content
  h1= title
  p Let the fun begin!

    // Wrapper
    #wrapper

    // USER LIST
    h2 Submissions List
    #userList
        table
            thead
                th Name
                th Email
                th Q: Learn?
                th Q: Why?
                th Q: Background?
                th Q: Format?
                th Q: Budget?
                th Date
                th ID
                th Completed?
            tbody
    // /USER LIST

    // ADD USER
    h2 Test Input Form
    #addUser
        fieldset
            input#inputUserFullName(type='text', placeholder='Full Name')
            input#inputUserEmail(type='text', placeholder='Email')
            br
            textarea#inputUserQLearn(type='text', placeholder='Looking to learn?')
            textarea#inputUserQWhy(type='text', placeholder='Why?')
            br
            textarea#inputUserQBackground(type='text', placeholder='Background?')
            textarea#inputUserQFormat(type='text', placeholder='Preferred Format?')
            br
            input#inputUserQBudget(type='text', placeholder='Budget?')
            br
            button#btnAddUser Add User
    // /ADD USER

    // /WRAPPER